.colorPicker {
    background-color: #b9e0d3;
    opacity: 0.8;
    border-radius: 15px;
    margin: 30px auto;
    padding: 30px 20px;
}

.colorPicker__title {
    margin: 0;
    font-size: 32px;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 15px;
    color: #253b33;
    text-align: center;
}

.currentColor {
        font-size: 26px;
        font-style: italic;
        font-weight: bold;
        color: #253b33;
}
.colorPicker__colors {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.colorPicker__option {
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid #ffffff;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
}

.colorPicker__option:last-child {
    margin-right: 0;
}

.colorPicker__option--active {
    transform: scale(1.3);
}
